.header {
    background-color: #FFF;
    padding: 15px;
    i.header-icon {
        background-color: #f9f9f9;
        padding: 10px;
        border-radius: 50%;
        color: #555;
        cursor: pointer;
        margin-left: 10px;
    }
    .toggle-sidebar {
        cursor: pointer;
    }
    .notification-container {
        display: inline-block;
        margin-left: 20px;
        .dropdown-menu {
            min-width: 600px;
            border: none;
            padding: 0;
            top: 10px !important;
            &:before{
                content: "";
                position: absolute;
                top: -20px;
                left: 16px;
                border-style: solid;
                border-width: 15px;
                border-color:transparent transparent #555 transparent
            }
            .noti-head {
                background-color: #333;
                padding: 15px;
                color: #FFF;
                span {
                    float: right;
                }
            }
            .noti-content {
                padding: 20px;
            }
            .noti-foot {
                a {
                    display: block;
                }
            }
        }
    }
    .usermenu-container {
        float: right;
        .username {
            .avatar {
                width: 40px;
                height: 40px;
            }
            .user {
                font-weight: bold;
                margin-right: 10px;
                margin-left: 10px;
            }
        }
        .dropdown-menu {
            min-width: 600px;
            border: none;
            padding: 20px;
            top: 10px !important;
            border: 1px solid #ddd;
            &:before{
                content: "";
                position: absolute;
                top: -20px;
                right: 40px;
                border-style: solid;
                border-width: 15px;
                border-color:transparent transparent #555 transparent
            }
            .user-info {
                h3 {
                    font-weight: bold;
                }
                p {
                    color: #888;
                }
            }
            .activities-list {
                li {
                    padding: 10px;
                }
            }
            .usermenu-links {
                .link-box {
                    background-color: #f3f3f3;
                    padding: 10px;
                    border-radius: 6px;
                }
            }
        }
    }
}

